doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="//fonts.css.network/css?family=Roboto:300,400,500,700,400italic")
    if config.is_production
      link(rel="stylesheet" href="//cdn.bootcss.com/angular-material/1.0.1/angular-material.min.css")
    else
      link(rel="stylesheet" href="/static/angular-material/angular-material.min.css")
    link(rel="stylesheet" href="/stylesheets/material.css")
    link(rel="stylesheet" href="/stylesheets/main.css")
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    )
    meta(name="author" content="SkyZH, OnWind Team")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="renderer" content="webkit")
    meta(name="robots" content="index,follow")
    base(href="/")
    title(translate="SITE_NAME") #{config.SITE_NAME}
    meta(name="keywords" content="#{config.SITE_NAME}, Online Judge, OnWind, Programming")

    
  body(layout="row" ng-controller="AppController" class="ng-cloak" md-theme="default")
    if config.is_production
      script(
        src="//cdn.bootcss.com/require.js/2.1.22/require.min.js"
        defer async="true" data-main="./config.require.js"
      )
    else
      script(
        src="/static/requirejs/require.js"
        defer async="true" data-main="./config.require.js"
      )  
    
    include views/sidebar/index
    
    div(layout="column" flex ng-view)
